/.less
/.idea
/.todo
/.coreUI
/config/*
!/config/default-config.php.dist
!/config/portal-config.php.dist
!/config/.htaccess
/docs
/log/*
!/log/.htaccess
**/*.sqlite
/vendor
/meta
**/node_modules/**
/package-lock.json
/yarn-error.log
