/.less
/.idea
/.todo
/.coreUI
/.coreUI Pro
/assets/js/.scripts
/config/*
!/config/default-config.php.dist
!/config/portal-config.php.dist
!/config/.htaccess
/log/*
!/log/.htaccess
**/*.sqlite
/vendor
/meta
**/node_modules/**
/package-lock.json
/yarn-error.log
