/.less
/.idea
/.todo
/config/*
!/config/default-config.php.dist
!/config/portal-config.php.dist
!/config/.htaccess
/docs
/log/*
!/log/.htaccess
**/*.sqlite
/vendor
/meta
**/node_modules/**
!assets/js/node_modules/
**/package-lock.json
/modules/**
/yarn-error.log
