# Prevent unauthorized access to non-user content
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule !(^|index\.php|\.(js|css|gif|jpeg|jpg|png|woff))$ - [L,R=403]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* /index.php
</IfModule>
