extends /_layout/default.pug

block styles
  link(href='vendors/quill/css/quill.coreui.css', rel='stylesheet')

block scripts
  // Plugins and scripts required by this view
  script(src='node_modules/quill/dist/quill.min.js')
  script(src='js/text-editor.js')

block view
  include text-editor.html
