{% extends "layout.default.tpl.twig" %}

{% block layout_body %}

    <body class="login">
    <!-- Logo -->
    <div class="logo">
        <img src="{{ asset("img/logo.png") }}" alt="logo" />
        <strong>TS</strong>INTERFACE
    </div>
    <!-- /Logo -->

    <!-- Login Box -->
    <div class="box">
        <div class="content">

            {% block restricted_login_login_form %}
                {# block restricted_login_login_form #}
                {% import "generic.forms.macro.lib.twig" as forms %}
                {{ forms.formular_login_default() }}
            {% endblock restricted_login_login_form %}

            {% block restricted_login_register_form %}
                {# block restricted_login_register_form #}
                {% import "generic.forms.macro.lib.twig" as forms %}
                {{ forms.formular_register_default() }}
            {% endblock restricted_login_register_form %}

        </div>

        {% block restricted_login_reset_form %}
            {# block restricted_login_reset_form #}
            {% import "generic.forms.macro.lib.twig" as forms %}
            {{ forms.formular_reset_default() }}
        {% endblock restricted_login_reset_form %}

    </div>
    <!-- /Login Box -->

    <!-- Footer -->
    {% block restricted_login_footer %}
        {# block restricted_login_footer #}
        <div class="footer">
            <a href="#" class="sign-up">{% trans %}Don't have an account yet?{% endtrans %} <strong>{% trans %}Sign Up{% endtrans %}</strong></a>
        </div>
    {% endblock restricted_login_footer %}
    <!-- /Footer -->

    {% block layout_js %}
        {# block layout_js #}
        {% include "layout.default.js.tpl.twig" %}
    {% endblock layout_js %}

    </body>
{% endblock layout_body %}