{% extends "layout.default.body.tpl.twig" %}

{% block page_content %}

    {% trans %}
        Test
    {% endtrans %}

    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i> Example Box</h4>
            </div>
            <div class="widget-content">
                <p>modules/Dashboard/views/MvcController/indexAction.tpl.twig</p>
            </div>
        </div>
    </div>
{% endblock page_content %}