{% block layout_page_header %}
    <!--=== Page Header ===-->
    <div class="page-header">
        <div class="page-title">
            <h3>Dashboard</h3>
            <span>Good morning, John!</span>
        </div>
    </div>
    <!-- /Page Header -->
{% endblock layout_page_header %}