<?php
/**
 * Global Configuration Override
 *
 * You can use this file for overriding configuration values from modules, etc.
 * You would place values in here that are agnostic to the environment and not
 * sensitive to security.
 *
 * @NOTE: In practice, this file will typically be INCLUDED in your source
 * control, so do not include passwords or other sensitive information in this
 * file.
 */

$config = [
    //Application configuration
    "debug_mode" => false,
    "locale_default" => "en_GB"
    //Database configuration
    "connection_options" => [
        "default" => [
            "driver" => "pdo_sqlite",
            "path" => __DIR__  . "/../system/db.sqlite",
            "charset" => "UTF-8",
            "prefix" => "tsi2_"
        ]
    ],
    //Doctrine configuration
    "doctrine_options" => [
        "autogenerate_proxy_classes" => true,
    ],
    //Template configuration
    "template_options" => [
        "template" => "default",
        "charset " => "utf-8",
        "base_template_class" => "\\Twig\\Template",
        "auto_reload" => true,
        "strict_variables" => false,
        "autoescape" => "html",
        "optimizations" => -1,
    ],
    //Logger configuration
    "logger_options" => [
        "log_level" => \Configs\LoggerConfig::ERROR
    ],
    //PhpFastCache configuration (Fallback drivers are set automatically!)
    "cache_options" => [
        "driver" => [
            "driverName" => "files",
            "driverConfig" => [
                "defaultKeyHashFunction" => "sha1",
                "defaultFileNameHashFunction" => "sha1"
            ]
        ]
    ]
];