<?php
/**
 * Global Configuration Override
 *
 * You can use this file for overriding configuration values from modules, etc.
 * You would place values in here that are agnostic to the environment and not
 * sensitive to security.
 *
 * @NOTE: In practice, this file will typically be INCLUDED in your source
 * control, so do not include passwords or other sensitive information in this
 * file.
 */

$config = [
    //Application configuration
    "debug_mode" => false,
    "locale_default" => "en_GB",
    //Database configuration
    "connection_options" => [
        "default" => [
            "driver" => "pdo_sqlite",
            "path" => __DIR__  . "/../system/db.sqlite",
            "charset" => "UTF-8",
            "prefix" => "tsi2_"
        ]
    ],
    //Doctrine configuration
    "doctrine_options" => [
        "autogenerate_proxy_classes" => true,
    ],
    //Template configuration
    "template_options" => [
        "template" => "coreui",
        "charset " => "utf-8",
        "base_template_class" => "\\Twig\\Template",
        "auto_reload" => true,
        "strict_variables" => false,
        "autoescape" => "html",
        "optimizations" => -1,
    ],
    //Default JS files (relative file paths, urls or code)
    "default_js" => [],
    //Default CSS files (relative file paths, urls or code)
    "default_css" => [],
    //Default JS files that should not be minimized (relative file paths, urls or code)
    "default_non_minified_js" => [],
    //Default CSS files that should not be minimized (relative file paths, urls or code)
    "default_non_minified_css" => [],
    //Default JS CDN sources (Caution! If specified, the default core ui sources of the framework will be overwritten!)
    "default_cdn_js" => [
        [
            /**
             * @see https://www.jsdelivr.com/package/npm/@coreui/coreui
             * @author @coreui/coreui
             * @file coreui.bundle.min.js
             * @version 3.4.0
             */
            "href" => "https://cdn.jsdelivr.net/npm/@coreui/coreui@3.4.0/dist/js/coreui.bundle.min.js",
            "integrity" => "sha256-pNVhsgAxflakVHYrSm+g0qX/Mg/OozmqIPlcA/UmWaY=",
            "crossorigin" => "anonymous"
        ],
        [
            /**
             * @see https://www.jsdelivr.com/package/npm/@coreui/chartjs?version=2.0.0&path=dist%2Fjs
             * @author @coreui/chartjs
             * @version 2.0.0
             * @file coreui-chartjs.min.js
             */
            "href" => "https://cdn.jsdelivr.net/npm/@coreui/chartjs@2.0.0/dist/js/coreui-chartjs.min.js",
            "integrity" => "sha256-BYNHBo+f3ti8HRrA9Gr55e5wo5qeZVzZJheEjPAgmaw=",
            "crossorigin" => "anonymous"
        ],
        [
            /**
             * @see https://www.jsdelivr.com/package/npm/@coreui/utils?path=dist
             * @author @coreui/utils
             * @version 1.3.1
             * @file coreui-utils.js
             */
            "href" => "https://cdn.jsdelivr.net/npm/@coreui/utils@1.3.1/dist/coreui-utils.js",
            "integrity" => "sha256-NVrkdvRh8oXb52THPYm46LAZWIqzJKxlJYaN6p3PzHk=",
            "crossorigin" => "anonymous"
        ]
    ],
    //Default CSS CDN sources (Caution! If specified, the default core ui sources of the framework will be overwritten!)
    "default_cdn_css" => [
        [
            /**
             * @see https://www.jsdelivr.com/package/npm/@coreui/coreui
             * @author @coreui/coreui
             * @file coreui.min.css
             * @version 3.4.0
             */
            "href" => "https://cdn.jsdelivr.net/npm/@coreui/coreui@3.4.0/dist/css/coreui.min.css",
            "integrity" => "sha256-ymLt+ThGD+jSN1VPjDdI1onY9UVinS39bJuWRzM94t8=",
            "crossorigin" => "anonymous"
        ],
        [
            /**
             * @see https://www.jsdelivr.com/package/npm/@coreui/chartjs?version=2.0.0&path=dist%2Fcss
             * @author @coreui/chartjs
             * @version 2.0.0
             * @file coreui-chartjs.min.css
             */
            "href" => "https://cdn.jsdelivr.net/npm/@coreui/chartjs@2.0.0/dist/css/coreui-chartjs.min.css",
            "integrity" => "sha256-r+WaegrEE/v+hab/ZL7pfs8DbAfvyYM0F9atxcLYnn8=",
            "crossorigin" => "anonymous"
        ],
        [
            /**
             * @link https://www.jsdelivr.com/package/npm/@coreui/icons?path=css
             * @author @coreui/icons
             * @file all.min.css
             * @version 2.0.1
             */
            "href" => "https://cdn.jsdelivr.net/npm/@coreui/icons@2.0.1/css/all.min.css",
            "integrity" => "sha256-W6Lexo8XTtkIn8nOCBocGu6Ty3ZZnraK550Ie8iuLAg=",
            "crossorigin" => "anonymous"
        ],
        [
            /**
             * @link https://www.jsdelivr.com/package/npm/@coreui/icons?path=css
             * @author @coreui/icons
             * @file brand.min.css
             * @version 2.0.1
             * @notice Use cib- prefix for linear icons
             */
            "href" => "https://cdn.jsdelivr.net/npm/@coreui/icons@2.0.1/css/brand.min.css",
            "integrity" => "sha256-5iRAOmCdbiRkYuvul6+RXXt8VvbgJ7P2kxvABrWa1jk=",
            "crossorigin" => "anonymous"
        ],
        [
            /**
             * @link https://www.jsdelivr.com/package/npm/@coreui/icons?path=css
             * @author @coreui/icons
             * @file flag.min.css
             * @version 2.0.1
             * @notice Use cif- prefix for linear icons
             */
            "href" => "https://cdn.jsdelivr.net/npm/@coreui/icons@2.0.1/css/flag.min.css",
            "integrity" => "sha256-vPcHAKo5V7+PU63JSYsUaudKZdfLYkFobV8ssUm8yg8=",
            "crossorigin" => "anonymous"
        ],
        [
            /**
             * @link https://www.jsdelivr.com/package/npm/@coreui/icons?path=css
             * @author @coreui/icons
             * @file free.min.css
             * @version 2.0.1
             * @notice Use cil- prefix for linear icons
             */
            "href" => "https://cdn.jsdelivr.net/npm/@coreui/icons@2.0.1/css/free.min.css",
            "integrity" => "sha256-6uqhzNLi3RU8WNmSSpqxMHkwlXFSNJH+H8L5rb4XQTg=",
            "crossorigin" => "anonymous"
        ]
    ],
    //Logger configuration
    "logger_options" => [
        "log_level" => 400
    ],
    //PhpFastCache configuration (Fallback drivers are set automatically!)
    "cache_options" => [
        "driver" => [
            "driverName" => "files",
            "driverConfig" => [
                "defaultKeyHashFunction" => "sha1",
                "defaultFileNameHashFunction" => "sha1"
            ]
        ]
    ]
];
