<?php
/**
 * Global Portal Configuration Override
 *
 * You can use this file for overriding configuration values from modules, etc.
 * You would place values in here that are agnostic to the environment and not
 * sensitive to security.
 *
 * @NOTE: In practice, this file will typically be INCLUDED in your source
 * control, so do not include passwords or other sensitive information in this
 * file.
 */

$config = [
    //Portal configuration
    "portal_options" => [
        //CoreUI or CoreUI Pro
        "b_core_ui_pro" => false,
        //Default or dark layout
        "b_dark_layout" => false,
        //Any visitor can register themselves
        "b_allow_registration" => false,
        //When logging in, users can select the option to remain permanently logged on
        "b_allow_stay_logged_in" => true,
        //Array of Js files that should not be minimized and permanently integrated
        "a_non_minified_js" => [
            "assets/vendors/pace-progress/js/pace.min.js",
            "assets/vendors/@coreui/coreui/js/coreui.bundle.min.js"
        ],
        //Array of CSS files that should not be minimized and permanently integrated
        "a_non_minified_css" => [
            "assets/css/coreui/coreui.min.css",
            "assets/vendors/pace-progress/css/pace.min.css",
            "assets/vendors/@coreui/icons/css/free.min.css"
        ],
    ]
];