{% extends "layout.default.tpl.twig" %}

{% block layout_body %}
    {% import "generic.forms.macro.lib.twig" as forms %}

    <body class="login">
    <!-- Logo -->
    <div class="logo">
        <img src="{{ asset("img/logo.png") }}" alt="logo" />
        <strong>TS</strong>INTERFACE
    </div>
    <!-- /Logo -->

    <!-- Login Box -->
    <div class="box">
        <div class="content">

            {{ forms.formular_login_default() }}

        </div>

        {{ forms.formular_reset_default() }}

    </div>
    <!-- /Login Box -->

    {% block layout_js %}
        {# block layout_js #}
        {% include "layout.default.js.tpl.twig" %}
    {% endblock layout_js %}

    </body>
{% endblock layout_body %}