{% block layout_breadcrumb %}
    {% import "generic.nav.macro.lib.twig" as navigation %}

    <!-- Breadcrumbs line -->
    <div class="crumbs">
        <!-- Breadcrumbs Menu -->
        {{ navigation.breadcrumbs((breadcrumb_routes)) }}
        <!-- /Breadcrumbs Menu -->

        <!-- Crumb Bar Menu -->
        {{ navigation.crump_bar(navigation_routes) }}
        <!-- /Crumb Bar Menu -->
    </div>
    <!-- /Breadcrumbs line -->
{% endblock layout_breadcrumb %}
