{% extends "layout.default.body.tpl.twig" %}

{% block page_content %}
    {% if module_controller_react_dom_id is defined %}
        <div id="{{ module_controller_react_dom_id }}" class="row"></div>
    {% endif %}
{% endblock page_content %}
