{% block layout_sidebar %}
    {% import "generic.nav.macro.lib.twig" as navigation %}
    <div id="sidebar" class="sidebar-fixed">
        <div id="sidebar-content">

            {{ navigation.sidebar(navigation_routes) }}

        </div>
        <div id="divider" class="resizeable"></div>
    </div>
{% endblock layout_sidebar %}