{% block layout_sidebar %}
    {% import "generic.nav.macro.lib.twig" as navigation %}
    <div id="sidebar" class="sidebar-fixed">
        <div id="sidebar-content">

            {{ navigation.sidebar(navigation_routes) }}

            {% block layout_sidebar_notifications %}
                {# block layout_sidebar_notifications #}
                {% include "layout.react.sidebar.notifications.tpl.twig" %}
            {% endblock layout_sidebar_notifications %}

            <div class="sidebar-widget align-center">
                <div class="btn-group" data-toggle="buttons" id="theme-switcher">
                    <label class="btn active">
                        <input type="radio" name="theme-switcher" data-theme="bright"><i class="icon-sun"></i> {% trans %}Bright{% endtrans %}
                    </label>
                    <label class="btn">
                        <input type="radio" name="theme-switcher" data-theme="dark"><i class="icon-moon"></i>  {% trans %}Dark{% endtrans %}
                    </label>
                </div>
            </div>
        </div>
        <div id="divider" class="resizeable"></div>
    </div>
{% endblock layout_sidebar %}
