{% block layout_head %}
    <head>
        <meta charset="{{ _charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>TSI | Tea(m)speak Interface 2</title>

        {# block layout_css #}
        {% include "layout.default.css.tpl.twig" %}
    </head>
{% endblock layout_head %}