header.c-header.c-header-light.c-header-fixed.c-header-with-subheader
  button.c-header-toggler.c-class-toggler.d-lg-none.mfe-auto(type="button" data-target="#sidebar" data-class="c-sidebar-show")
    span.c-header-toggler-icon
  a.c-header-brand.d-sm-none(href="#")
    img.c-header-brand-full.c-d-dark-none(src="assets/brand/coreui-pro-base.svg" width="118" height="46" alt="CoreUI Logo")
    img.c-header-brand-minimized.c-d-dark-none(src="assets/brand/coreui-signet.svg" width="46" height="46" alt="CoreUI Logo")
    img.c-header-brand-full.c-d-light-none(src="assets/brand/coreui-pro-base-white.svg" width="118" height="46" alt="CoreUI Logo")
    img.c-header-brand-minimized.c-d-light-none(src="assets/brand/coreui-signet-white.svg" width="46" height="46" alt="CoreUI Logo")
  button.c-header-toggler.c-class-toggler.mfs-3.d-md-down-none(type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true")
    span.c-header-toggler-icon
  if !starter
    ul.c-header-nav.d-md-down-none
      li.c-header-nav-item.px-3
        a.c-header-nav-link(href="#") Dashboard
      li.c-header-nav-item.px-3
        a.c-header-nav-link(href="#") Users
      li.c-header-nav-item.px-3
        a.c-header-nav-link(href="#") Settings
    ul.c-header-nav.mfs-auto
      li.c-header-nav-item.px-3
        button.c-class-toggler.c-header-nav-btn(type="button" id="header-tooltip" data-target="body" data-class="c-dark-theme" data-toggle="c-tooltip" data-placement="bottom" title="Toggle Light/Dark Mode")
          svg.c-icon.c-d-dark-none
            use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-moon")
          svg.c-icon.c-d-light-none
            use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-sun")
    ul.c-header-nav
      li.c-header-nav-item.dropdown.d-md-down-none.mx-2
        a.c-header-nav-link(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
          svg.c-icon
            use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bell")
          span.badge.badge-pill.badge-danger 5
        .dropdown-menu.dropdown-menu-right.dropdown-menu-lg.pt-0
          .dropdown-header.bg-light
            strong You have 5 notifications
          a.dropdown-item(href='#')
            svg.c-icon.mfe-2.text-success
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user-follow")
            |  New user registered
          a.dropdown-item(href='#')
            svg.c-icon.mfe-2.text-danger
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user-unfollow")
            |  User deleted
          a.dropdown-item(href='#')
            svg.c-icon.mfe-2.text-info
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-chart")
            |  Sales report is ready
          a.dropdown-item(href='#')
            svg.c-icon.mfe-2.text-success
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-basket")
            |  New client
          a.dropdown-item(href='#')
            svg.c-icon.mfe-2.text-warning
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-speedometer")
            |  Server overloaded
          .dropdown-header.bg-light
            strong Server
          a.dropdown-item.d-block(href='#')
            .text-uppercase.mb-1
              small
                b CPU Usage
            span.progress.progress-xs
              .progress-bar.bg-info(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
            small.text-muted 348 Processes. 1/4 Cores.
          a.dropdown-item.d-block(href='#')
            .text-uppercase.mb-1
              small
                b Memory Usage
            span.progress.progress-xs
              .progress-bar.bg-warning(role='progressbar', style='width: 70%', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100')
            small.text-muted 11444GB/16384MB
          a.dropdown-item.d-block(href='#')
            .text-uppercase.mb-1
              small
                b SSD 1 Usage
            span.progress.progress-xs
              .progress-bar.bg-danger(role='progressbar', style='width: 95%', aria-valuenow='95', aria-valuemin='0', aria-valuemax='100')
            small.text-muted 243GB/256GB
      li.c-header-nav-item.dropdown.d-md-down-none.mx-2
        a.c-header-nav-link(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
          svg.c-icon
            use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-list-rich")
          span.badge.badge-pill.badge-warning 15
        .dropdown-menu.dropdown-menu-right.dropdown-menu-lg.pt-0
          .dropdown-header.bg-light
            strong You have 5 pending tasks
          a.dropdown-item.d-block(href='#')
            .small.mb-1
              | Upgrade NPM & Bower
              span.float-right
                strong 0%
            span.progress.progress-xs
              .progress-bar.bg-info(role='progressbar', style='width: 0%', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
          a.dropdown-item.d-block(href='#')
            .small.mb-1
              | ReactJS Version
              span.float-right
                strong 25%
            span.progress.progress-xs
              .progress-bar.bg-danger(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
          a.dropdown-item.d-block(href='#')
            .small.mb-1
              | VueJS Version
              span.float-right
                strong 50%
            span.progress.progress-xs
              .progress-bar.bg-warning(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
          a.dropdown-item.d-block(href='#')
            .small.mb-1
              | Add new layouts
              span.float-right
                strong 75%
            span.progress.progress-xs
              .progress-bar.bg-info(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
          a.dropdown-item.d-block(href='#')
            .small.mb-1
              | Angular 8 Version
              span.float-right
                strong 100%
            span.progress.progress-xs
              .progress-bar.bg-success(role='progressbar', style='width: 100%', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
          a.dropdown-item.text-center.border-top(href='#')
            strong View all tasks
      li.c-header-nav-item.dropdown.d-md-down-none.mx-2
        a.c-header-nav-link(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
          svg.c-icon
            use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-envelope-open")
          span.badge.badge-pill.badge-info 7
        .dropdown-menu.dropdown-menu-right.dropdown-menu-lg.pt-0
          .dropdown-header.bg-light
            strong You have 4 messages
          a.dropdown-item(href='#')
            .message
              .py-3.mfe-3.float-left
                .c-avatar
                  img.c-avatar-img(src='assets/img/avatars/7.jpg', alt='user@email.com')
                  span.c-avatar-status.bg-success
              div
                small.text-muted John Doe
                small.text-muted.float-right.mt-1 Just now
              .text-truncate.font-weight-bold
                span.text-danger !
                |  Important message
              .small.text-muted.text-truncate
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          a.dropdown-item(href='#')
            .message
              .py-3.mfe-3.float-left
                .c-avatar
                  img.c-avatar-img(src='assets/img/avatars/6.jpg', alt='user@email.com')
                  span.c-avatar-status.bg-warning
              div
                small.text-muted John Doe
                small.text-muted.float-right.mt-1 5 minutes ago
              .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
              .small.text-muted.text-truncate
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          a.dropdown-item(href='#')
            .message
              .py-3.mfe-3.float-left
                .c-avatar
                  img.c-avatar-img(src='assets/img/avatars/5.jpg', alt='user@email.com')
                  span.c-avatar-status.bg-danger
              div
                small.text-muted John Doe
                small.text-muted.float-right.mt-1 1:52 PM
              .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
              .small.text-muted.text-truncate
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          a.dropdown-item(href='#')
            .message
              .py-3.mfe-3.float-left
                .c-avatar
                  img.c-avatar-img(src='assets/img/avatars/4.jpg', alt='user@email.com')
                  span.c-avatar-status.bg-info
              div
                small.text-muted John Doe
                small.text-muted.float-right.mt-1 4:03 PM
              .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
              .small.text-muted.text-truncate
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          a.dropdown-item.text-center.border-top(href='#')
            strong View all messages
      li.c-header-nav-item.dropdown
        a.c-header-nav-link(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
          .c-avatar
            img.c-avatar-img(src="assets/img/avatars/6.jpg" alt="user@email.com")
        .dropdown-menu.dropdown-menu-right.pt-0
          .dropdown-header.bg-light.py-2
            strong Account
          a.dropdown-item(href="#")
            svg.c-icon.mfe-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bell")
            |  Updates
            span.badge.badge-info.mfs-auto 42
          a.dropdown-item(href="#")
            svg.c-icon.mfe-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-envelope-open")
            |  Messages
            span.badge.badge-success.mfs-auto 42
          a.dropdown-item(href="#")
            svg.c-icon.mfe-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-task")
            |  Tasks
            span.badge.badge-danger.mfs-auto 42
          a.dropdown-item(href="#")
            svg.c-icon.mfe-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-comment-square")
            |  Comments
            span.badge.badge-warning.mfs-auto 42
          .dropdown-header.bg-light.py-2
            strong Settings
          a.dropdown-item(href="#")
            svg.c-icon.mfe-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user")
            |  Profile
          a.dropdown-item(href="#")
            svg.c-icon.mfe-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-settings")
            |  Settings
          a.dropdown-item(href="#")
            svg.c-icon.mfe-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-credit-card")
            |  Payments
            span.badge.badge-secondary.mfs-auto 42
          a.dropdown-item(href="#")
            svg.c-icon.mfe-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-file")
            |  Projects
            span.badge.badge-primary.mfs-auto 42
          .dropdown-divider
          a.dropdown-item(href="#")
            svg.c-icon.mfe-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-lock-locked")
            |  Lock Account
          a.dropdown-item(href="#")
            svg.c-icon.mfe-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-account-logout")
            |  Logout
        li.c-header-nav-item.px-3
          button.c-class-toggler.c-header-nav-btn(type="button" data-target="#aside" data-class="c-sidebar-show")
            svg.c-icon.c-icon-lg.mfe-md-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-applications-settings")
  .c-subheader.justify-content-between.px-3
    include ./../_partials/breadcrumb.pug
    .c-header-nav.d-md-down-none.mfe-2
      a.c-header-nav-link(href="#")
        svg.c-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-speech")
      a.c-header-nav-link(href="#")
        svg.c-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-graph")
        |   Dashboard
      a.c-header-nav-link(href="#")
        svg.c-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-settings")
        |   Settings


