extends /_layout/default.pug

block view
  .c-fade-in
    .c-email-app.border.mb-4
      .c-body
        .c-sidebar.c-sidebar-light.c-sidebar-show
          ul.c-sidebar-nav
            li.c-sidebar-nav-item
              a.btn.btn-success.d-flex.m-3(href="#")
                svg.c-icon.mfe-3
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-inbox")
                | New email
            li.c-sidebar-nav-item
              a.c-sidebar-nav-link(href='#')
                svg.c-sidebar-nav-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-inbox")
                |  Inbox
                span.badge.badge-danger 4
            li.c-sidebar-nav-item
              a.c-sidebar-nav-link(href='#')
                svg.c-sidebar-nav-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
                |  Stared
            li.c-sidebar-nav-item
              a.c-sidebar-nav-link(href='#')
                svg.c-sidebar-nav-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-paper-plane")
                |  Sent
            li.c-sidebar-nav-item
              a.c-sidebar-nav-link(href='#')
                svg.c-sidebar-nav-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-trash")
                |  Trash
            li.c-sidebar-nav-item
              a.c-sidebar-nav-link(href='#')
                svg.c-sidebar-nav-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bookmark")
                |  Important
                span.badge.badge-info 25
        main.c-main.p-3
          p.text-center New Message
          form
            .form-row.mb-3
              label.col-2.col-sm-1.col-form-label(for='to') To:
              .col-10.col-sm-11
                input#to.form-control(type='email', placeholder='Type email')
            .form-row.mb-3
              label.col-2.col-sm-1.col-form-label(for='cc') CC:
              .col-10.col-sm-11
                input#cc.form-control(type='email', placeholder='Type email')
            .form-row.mb-3
              label.col-2.col-sm-1.col-form-label(for='bcc') BCC:
              .col-10.col-sm-11
                input#bcc.form-control(type='email', placeholder='Type email')
          .row
            .col-sm-11.mfs-auto
              .toolbar(role='toolbar')
                .btn-group
                  button.btn.btn-light(type='button')
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bold")
                  button.btn.btn-light(type='button')
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-italic")
                  button.btn.btn-light(type='button')
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-underline")
                .btn-group
                  button.btn.btn-light(type='button')
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-align-left")
                  button.btn.btn-light(type='button')
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-align-right")
                  button.btn.btn-light(type='button')
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-align-center")
                  button.btn.btn-light(type='button')
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-justify-center")
                .btn-group
                  button.btn.btn-light(type='button')
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-indent-increase")
                  button.btn.btn-light(type='button')
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-indent-decrease")
                .btn-group
                  button.btn.btn-light(type='button')
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-list")
                  button.btn.btn-light(type='button')
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-list-numbered")
                button.btn.btn-light(type='button')
                  svg.c-icon
                    use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-trash")
                button.btn.btn-light(type='button')
                  svg.c-icon
                    use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-paperclip")
                .btn-group
                  button.btn.btn-light.dropdown-toggle(type='button', data-toggle='dropdown')
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-tags")
                    span.caret
                  .dropdown-menu
                    a.dropdown-item(href='#')
                      | add label
                      span.badge.badge-danger  Home
                    a.dropdown-item(href='#')
                      | add label
                      span.badge.badge-info  Job
                    a.dropdown-item(href='#')
                      | add label
                      span.badge.badge-success  Clients
                    a.dropdown-item(href='#')
                      | add label
                      span.badge.badge-warning  News
              .form-group.mt-4
                textarea#message.form-control(name='body', rows='12', placeholder='Click here to reply')
              .form-group
                button.btn.btn-success(type='submit') Send
                button.btn.btn-light(type='submit') Draft
                button.btn.btn-danger(type='submit') Discard


