extends /_layout/default.pug

block view
  .c-fade-in
    .c-email-app.border.mb-4
      .c-body
        .c-sidebar.c-sidebar-light.c-sidebar-show
          ul.c-sidebar-nav
            li.c-sidebar-nav-item
              a.btn.btn-success.d-flex.m-3(href="#")
                svg.c-icon.mfe-3
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-inbox")
                | New email
            li.c-sidebar-nav-item
              a.c-sidebar-nav-link(href='#')
                svg.c-sidebar-nav-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-inbox")
                |  Inbox
                span.badge.badge-danger 4
            li.c-sidebar-nav-item
              a.c-sidebar-nav-link(href='#')
                svg.c-sidebar-nav-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
                |  Stared
            li.c-sidebar-nav-item
              a.c-sidebar-nav-link(href='#')
                svg.c-sidebar-nav-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-paper-plane")
                |  Sent
            li.c-sidebar-nav-item
              a.c-sidebar-nav-link(href='#')
                svg.c-sidebar-nav-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-trash")
                |  Trash
            li.c-sidebar-nav-item
              a.c-sidebar-nav-link(href='#')
                svg.c-sidebar-nav-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bookmark")
                |  Important
                span.badge.badge-info 25
        main.c-main
          .toolbar.p-3
            .btn-group
              button.btn.btn-light(type='button')
                svg.c-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-envelope-closed")
              button.btn.btn-light(type='button')
                svg.c-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
              button.btn.btn-light(type='button')
                svg.c-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bookmark")
            .btn-group
              button.btn.btn-light(type='button')
                svg.c-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-share")
              button.btn.btn-light(type='button')
                svg.c-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-share-all")
              button.btn.btn-light(type='button')
                svg.c-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-share-boxed")
            button.btn.btn-light(type='button')
              svg.c-icon
                use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-trash")
            .btn-group
              button.btn.btn-light.dropdown-toggle(type='button', data-toggle='dropdown')
                svg.c-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-tags")
                span.caret
              .dropdown-menu
                a.dropdown-item(href='#')
                  | add label
                  span.badge.badge-danger  Home
                a.dropdown-item(href='#')
                  | add label
                  span.badge.badge-info  Job
                a.dropdown-item(href='#')
                  | add label
                  span.badge.badge-success  Clients
                a.dropdown-item(href='#')
                  | add label
                  span.badge.badge-warning  News
            .btn-group.float-right
              button.btn.btn-light(type='button')
                svg.c-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-chevron-left")
              button.btn.btn-light(type='button')
                svg.c-icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-chevron-right")
          .c-messages
            a.c-message(href="#")
              .c-message-actions
                  svg.c-icon
                    use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
              .c-message-details
                .c-message-headers
                  .c-message-headers-from Lukasz Holeczek
                  .c-message-headers-date
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-paperclip")
                    |  Today, 3:47 PM
                  .c-message-headers-subject
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .c-message-body
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            a.c-message.c-message-read(href="#")
              .c-message-actions
                  svg.c-icon
                    use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
              .c-message-details
                .c-message-headers
                  .c-message-headers-from Lukasz Holeczek
                  .c-message-headers-date
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-paperclip")
                    |  Today, 3:47 PM
                  .c-message-headers-subject
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .c-message-body
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            a.c-message.c-message-read(href="#")
              .c-message-actions
                  svg.c-icon
                    use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
              .c-message-details
                .c-message-headers
                  .c-message-headers-from Lukasz Holeczek
                  .c-message-headers-date
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-paperclip")
                    |  Today, 3:47 PM
                  .c-message-headers-subject
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .c-message-body
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            a.c-message(href="#")
              .c-message-actions
                  svg.c-icon
                    use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
              .c-message-details
                .c-message-headers
                  .c-message-headers-from Lukasz Holeczek
                  .c-message-headers-date
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-paperclip")
                    |  Today, 3:47 PM
                  .c-message-headers-subject
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .c-message-body
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            a.c-message.c-message-read(href="#")
              .c-message-actions
                  svg.c-icon
                    use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
              .c-message-details
                .c-message-headers
                  .c-message-headers-from Lukasz Holeczek
                  .c-message-headers-date
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-paperclip")
                    |  Today, 3:47 PM
                  .c-message-headers-subject
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .c-message-body
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            a.c-message(href="#")
              .c-message-actions
                  svg.c-icon
                    use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
              .c-message-details
                .c-message-headers
                  .c-message-headers-from Lukasz Holeczek
                  .c-message-headers-date
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-paperclip")
                    |  Today, 3:47 PM
                  .c-message-headers-subject
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .c-message-body
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            a.c-message.c-message-read(href="#")
              .c-message-actions
                  svg.c-icon
                    use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
              .c-message-details
                .c-message-headers
                  .c-message-headers-from Lukasz Holeczek
                  .c-message-headers-date
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-paperclip")
                    |  Today, 3:47 PM
                  .c-message-headers-subject
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .c-message-body
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            a.c-message.c-message-read(href="#")
              .c-message-actions
                  svg.c-icon
                    use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
              .c-message-details
                .c-message-headers
                  .c-message-headers-from Lukasz Holeczek
                  .c-message-headers-date
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-paperclip")
                    |  Today, 3:47 PM
                  .c-message-headers-subject
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .c-message-body
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            a.c-message(href="#")
              .c-message-actions
                  svg.c-icon
                    use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
              .c-message-details
                .c-message-headers
                  .c-message-headers-from Lukasz Holeczek
                  .c-message-headers-date
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-paperclip")
                    |  Today, 3:47 PM
                  .c-message-headers-subject
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .c-message-body
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            a.c-message.c-message-read(href="#")
              .c-message-actions
                  svg.c-icon
                    use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
              .c-message-details
                .c-message-headers
                  .c-message-headers-from Lukasz Holeczek
                  .c-message-headers-date
                    svg.c-icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-paperclip")
                    |  Today, 3:47 PM
                  .c-message-headers-subject
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .c-message-body
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
