{% block layout_head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>Empty File | Melon - Flat &amp; Responsive Admin Template</title>

        {# block layout_css #}
        {% include "layout.default.css.tpl.twig" %}
    </head>
{% endblock layout_head %}