{% block layout_breadcrumb %}
    <!-- Breadcrumbs line -->
    <div class="crumbs">
        <ul id="breadcrumbs" class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="index.html">Dashboard</a>
            </li>
            <li class="current">
                <a href="calendar.html" title="">Calendar</a>
            </li>
        </ul>

        <ul class="crumb-buttons">
            <li><a href="charts.html" title=""><i class="icon-signal"></i><span>Statistics</span></a></li>
        </ul>
    </div>
    <!-- /Breadcrumbs line -->
{% endblock layout_breadcrumb %}