{% block layout_head %}
    <head>
        <meta charset="{{ _charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DWWE - PHP ORM React Framework</title>

        {# block layout_css #}
        {% include "layout.default.css.tpl.twig" %}
    </head>
{% endblock layout_head %}