{% block layout_sidebar %}
    {#% import "generic.nav.macro.lib.twig" as navigation %#}

    <div class="c-sidebar c-sidebar-dark c-sidebar-show">
        <ul class="c-sidebar-nav">
            <li class="c-sidebar-nav-title">Nav Title</li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="c-sidebar-nav-icon cil-speedometer"></i> Nav item
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="c-sidebar-nav-icon cil-speedometer"></i> With badge
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="c-sidebar-nav-item nav-dropdown">
                <a class="c-sidebar-nav-link nav-dropdown-toggle" href="#">
                    <i class="c-sidebar-nav-icon cil-puzzle"></i> Nav dropdown
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#">
                            <i class="c-sidebar-nav-icon cil-puzzle"></i> Nav dropdown item
                        </a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#">
                            <i class="c-sidebar-nav-icon cil-puzzle"></i> Nav dropdown item
                        </a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-item mt-auto">
                <a class="c-sidebar-nav-link c-sidebar-nav-link-success" href="https://coreui.io">
                    <i class="c-sidebar-nav-icon cil-cloud-download"></i> Download CoreUI</a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link c-sidebar-nav-link-danger" href="https://coreui.io/pro/">
                    <i class="c-sidebar-nav-icon cil-layers"></i> Try CoreUI
                    <strong>PRO</strong>
                </a>
            </li>
        </ul>
        <button class="c-sidebar-minimizer c-brand-minimizer" type="button"></button>
    </div>

    {#{ navigation.sidebar(navigation_routes) }#}

    {#% block layout_sidebar_notifications %#}
        {# block layout_sidebar_notifications #}
        {#% include "layout.react.sidebar.notifications.tpl.twig" %#}
    {#% endblock layout_sidebar_notifications %#}

{% endblock layout_sidebar %}
