{% extends "layout.default.tpl.twig" %}

{% block layout_body %}
    <body class="c-app">

    {% block layout_sidebar %}
        {# block layout_sidebar #}
        {% include "layout.default.sidebar.tpl.twig" %}
    {% endblock layout_sidebar %}

        <div class="c-wrapper">

            {% block layout_header %}
                {# block layout_header #}
                {% include "layout.default.header.tpl.twig" %}
            {% endblock layout_header %}

            <div class="c-body">
                <main class="c-main">

                    {#% block layout_breadcrumb %#}
                        {# block layout_breadcrumb #}
                        {#% include "layout.default.breadcrumb.tpl.twig" %#}
                    {#% endblock layout_breadcrumb %#}

                    {#% block layout_page_header %#}
                        {# block layout_page_header #}
                        {#% include "layout.default.page.header.tpl.twig" %#}
                    {#% endblock layout_page_header %#}

                    {% block page_content %}
                    {% endblock page_content %}

                </main>
            </div>

            <footer class="c-footer">
                <!-- Footer content here -->
            </footer>
        </div>

        {% block layout_js %}
            {# block layout_js #}
            {% include "layout.default.js.tpl.twig" %}
        {% endblock layout_js %}

    </body>

{% endblock layout_body %}