{% block layout_sidebar %}
    {% import "generic.nav.macro.lib.twig" as navigation %}

    <!-- Sidebar -->
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
        <div class="c-sidebar-brand">
            <img class="c-sidebar-brand-full" src="assets/img/logo.png" width="29" height="21" alt="TSI2F Logo">
            <img class="c-sidebar-brand-minimized" src="assets/img/logo.png" width="29" height="21" alt="TSI2F Logo">
        </div>

        {{ navigation.sidebar(navigation_routes) }}

        <button class="c-sidebar-minimizer c-brand-minimizer" type="button"> </button>
    </div>
    <!-- /Sidebar -->

{% block layout_sidebar_aside %}
    {# block layout_sidebar_aside #}
    {% include "layout.react.sidebar.aside.tpl.twig" %}
{% endblock layout_sidebar_aside %}

{% endblock layout_sidebar %}
