{% block layout_sidebar_aside %}
    {% if(b_core_ui_pro is defined and b_core_ui_pro != false) %}
        <div id="_layout_sidebar_aside_react_entry"></div>
    {% endif %}
{% endblock layout_sidebar_aside %}
