extends /_layout/default.pug

block view
  .card
    .card-header.d-flex.align-items-center
      | Invoice
      strong #90-98792
      a.btn.btn-sm.btn-secondary.mfs-auto.mfe-1.d-print-none(href='#', onclick='javascript:window.print();')
        svg.c-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-print")
        |  Print
      a.btn.btn-sm.btn-info.mfe-1.d-print-none(href='#')
        svg.c-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-save")
        |  Save
    .card-body
      .row.mb-4
        .col-sm-4
          h6.mb-3 From:
          div
            strong Your Great Company Inc.
          div 724 John Ave.
          div Cupertino, CA 95014
          div Email: email@your-great-company.com
          div Phone: +1 123-456-7890
        // /.col
        .col-sm-4
          h6.mb-3 To:
          div
            strong Acme Inc.
          div 159 Manor Station Road
          div San Diego, CA 92154
          div Email: email@acme.com
          div Phone: +1 123-456-7890
        // /.col
        .col-sm-4
          h6.mb-3 Details:
          div
            | Invoice
            strong #90-98792
          div March 30, 2020
          div VAT: EU9877281777
          div Account Name: ACME
          div
            strong SWIFT code: 99 8888 7777 6666 5555
        // /.col
      // /.row
      .table-responsive-sm
        table.table.table-striped
          thead
            tr
              th.center #
              th Item
              th Description
              th.center Quantity
              th.right Unit Cost
              th.right Total
          tbody
            tr
              td.center 1
              td.left Origin License
              td.left Extended License
              td.center 1
              td.right $999,00
              td.right $999,00
            tr
              td.center 2
              td.left Custom Services
              td.left Instalation and Customization (cost per hour)
              td.center 20
              td.right $150,00
              td.right $3.000,00
            tr
              td.center 3
              td.left Hosting
              td.left 1 year subcription
              td.center 1
              td.right $499,00
              td.right $499,00
            tr
              td.center 4
              td.left Platinum Support
              td.left 1 year subcription 24/7
              td.center 1
              td.right $3.999,00
              td.right $3.999,00
      .row
        .col-lg-4.col-sm-5
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        .col-lg-4.col-sm-5.ml-auto
          table.table.table-clear
            tbody
              tr
                td.left
                  strong Subtotal
                td.right $8.497,00
              tr
                td.left
                  strong Discount (20%)
                td.right $1,699,40
              tr
                td.left
                  strong VAT (10%)
                td.right $679,76
              tr
                td.left
                  strong Total
                td.right
                  strong $7.477,36
          a.btn.btn-success(href='#')
            svg.c-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-dollar")
            |  Proceed to Payment
